<form #form class="form" (ngSubmit)="addTask(); form.reset()">
  <input
    class="input"
    type="text"
    placeholder="Tengo que..."
    name="task"
    [(ngModel)]="task"
  >
  <button class="button" type="submit" [disabled]="!task?.length">
    <img class="icon" src="../../../assets/icons/add.svg" alt="Add Icon">
  </button>
</form>

<p *ngIf="!tasksList.length">Nothing yet.</p>

<p *ngIf="tasksList.length">{{ tasksList.length }} pengind task{{ tasksList.length > 1 ? 's' : '' }}:</p>

<ul class="list">
  <li class="list-item" *ngFor="let task of tasksList; let i = index">
    <span class="name">{{ task }} </span>
    <div class="icon-container" (click)="removeTask(i)">
      <img class="icon" src="../../../assets/icons/revome.svg" alt="Remove Icon">
    </div>
  </li>
</ul>